{% extends "base.html" %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div>
	<h2> Do you want to delete employee ? </h2>
	<h4> Details </h4>
	<div>
		<ul>
			<li><b>Name: </b> {{ employee.name }} </li>
			<li><b>Age: </b> {{ employee.age }} </li>
			<li><b>Birthday: </b> {{ employee.birthday }} </li>
			<li><b>Address: </b> {{ employee.address}} </li>
			<li><b>Email: </b> {{ employee.email }} </li>
			<li><b>Gender: </b> {{ employee.gender }} </li>
			<li><b>Is Married: </b> {{ employee.is_married}} </li>
			<li><b>Joining Date: </b> {{ employee.joining_date }} </li>
			<li><b>Attachment: </b> {{ employee.attachment }} </li>
		</ul>
	</div>
	<form method="POST" action="/employees/delete/{{employee.id}}/">
		{% csrf_token %}
		<a href="javascript:history.back()" class="btn btn-dark"> Back </a>
		<input type="submit" value="Delete" class="btn btn-danger">
	</form>
</div>
{% endblock %}