{% extends "base.html" %}
{% block head_block %} {% endblock %}
{% block body_block %}
<div class="container">
    <br/>
    <h1 class="float-right"> Expense Details </h1>
    <br/>

    <form class="mt-5" method="POST" action="/hr_expenses/new_expense/" enctype="multipart/form-
    data">
        {% csrf_token %}
        
        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Name </label>
                    <div class="col-md-9">
                        <input type='text' name='name' value='{{expense.name}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Quantity </label>
                    <div class="col-md-9">
                        <input type='text' name='quantity' value='{{expense.quantity}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Product </label>
                    <div class="col-md-9">
                        <input type='text' name='product' value='{{expense.product}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Price </label>
                    <div class="col-md-9">
                        <input type='text' name='price' value='{{expense.price}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Total </label>
                    <div class="col-md-9">
                        <input type='text' name='total' value='{{expense.total}}' class="form-control" readonly/> 
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Status </label>
                    <div class="col-md-9">
                        <input type='text' name='status' value='{{expense.status}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Attachment </label>
                    <div class="col-md-9">
                        <input type='text' name='attachment' value='{{expense.attachment}}' class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 form-group">
                <div class="form-row">
                    <label class="col-md-3 font-weight-bold"> Is Active </label>
                    <div class="col-md-9">
                        <input type='checkbox' name='is_active' {% if expense.is_active %}checked{% endif %}
                        onclick="return false;"/>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <a class="btn btn-dark" href="/hr_expenses/show_expense"><i class="fa fa-arrow-left"
            aria-hidden="true"></i> Back </a>
            <a class="btn btn-primary" href="/hr_expenses/update/{{expense.id}}/"> Update </a>
            <a class="btn btn-danger" href="/hr_expenses/delete/{{expense.id}}/" 
            onclick="return confirm('Are you sure?');"> Delete </a>
        </div>
        <br/>

    </form>
</div>
{% endblock %}