{% extends 'base.html' %}
{% block title %} Contract {% endblock %}
{% block body_block %}
{% load static %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h1 class="card-header"> Contract List </h1>
            <br>
            <div class="float-right">

                <div class="float-left">
                <form class="form-inline" action="/hr_contracts/order_by/">    
                    <a class="btn btn-success mr-sm-2" href="/hr_contracts/new_contract/"> <i class="fa fa-plus" aria-hidden="true"></i> Create </a>
        
                    <button class="btn btn-outline-info mr-sm-2 {{ order_selected.name }}" type="submit" name="order" value="name">Name <i class="fas fa-sort-alpha-down" aria-hidden="true"></i></button>
        
                    <button class="btn btn-outline-info mr-sm-2 {{ order_selected.rank}}" type="submit" name="order" value="rank">Rank <i class="fas fa-sort-numeric-up" aria-hidden="true"></i></button>
        
                    <button class="btn btn-outline-info mr-sm-2 {{ order_selected.status}}" type="submit" name="order" value="status">Status <i class="fas fa-sort-numeric-up" aria-hidden="true"></i></button>
                </form>
           </div>
            <div class="float-right">
                <form class="form-inline" action="/hr_contracts/search_by/">    
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
                    <button class="btn btn-info btn-lg" type="submit"> <i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>    
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        
                            <thead class="thead-light">
                                <tr>
                                    <!-- <th scope="col">Options</th> -->
                                    <th scope="col">No.</th>
									<th scope="col">Name</th>
									<th scope="col">Rank</th>
									<th scope="col">Start Date</th>
									<th scope="col">End Date</th>
									<th scope="col">Note</th>
									<th scope="col">Status</th>
									<th scope="col">Is Active</th>
									<th scope="col">Create Date</th>
                                    <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in page_obj %}
								<tr class="clickable" onclick="window.location='/hr_contracts/detail/{{contract.id}}/'">
                                        <td>{{ forloop.counter }}</td>
										<td>{{ contract.name }}</td>
										<td>{{ contract.rank }}</td>
										<td>{{ contract.start_date }}</td>
										<td>{{ contract.end_date }}</td>
										<td>{{ contract.note }}</td>
										<td>{{ contract.status }}</td>
										<td>{{ contract.is_active }}</td>
										<td>{{ contract.create_date }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-cog "></i>Manage
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li>
                                                        <a class="dropdown-item" href="/employee/detail">
                                                            <i class="fa fa-eye text-success fa-fw"></i>&nbsp;View Employee
                                                        </a>
                                                    </li>
                                                    
                                                  <li>
                                                      <a class="dropdown-item" href="/employee/update_employee">
                                                          <i class="fa fa-edit text-info fa-fw"></i>&nbsp;Edit Employee
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a class="dropdown-item" href="/employee/delete/">
                                                          <i class="fa fa-trash text-danger fa-fw"></i>&nbsp;Delete Employee
                                                      </a>
                                                  </li>
                                                 
                                                </ul>
                                              </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        
                    </table>
                    <br>

                    {% if page_obj.has_other_pages %}
		<div style="display: flex; justify-content: center;">
			<nav aria-label="Topics pagination" class="mb-4">
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<span class="page-link">Previous</span>
						</li>
					{% endif %}

					{% for page_num in page_obj.paginator.page_range %}
						{% if page_obj.number == page_num %}
							<li class="page-item active">
								<span class="page-link">
									{{ page_num }}
									<span class="sr-only">(current)</span>
								</span>
							</li>
						{% else %}
							<li class="page-item">
								<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
						</li>
						{% else %}
						<li class="page-item disabled">
							<span class="page-link">Next</span>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}