{% extends 'base.html' %}
{% block head_block %} {% endblock %}
{% block body_block %}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header"> Attendance Create </h5>
            <div class="card-body">
                <form id="validationform" data-parsley-validate="" novalidate="" method="POST" action="/hr_attendances/new_attendance/" enctype="multipart/form-data">
                    {% csrf_token %}

                    
                    <div class="form-group row text-sm-right">
                        <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                            <input type="submit" value="Create" class="btn btn-space btn-primary">
                            <a href="javascript:history.back()" class="btn btn-space btn-secondary"> Back </a>
                        </div>
                    </div>
                    <input type="text" required=""name="name" placeholder="Enter Your Name" class="form-control">
                    <br>
                    <input type="datetime-local" required=""name="sign_in" placeholder="Enter Sign In" class="form-control">
                    <br>
                    <input type="datetime-local" required=""name="sign_out" placeholder="Enter Sign Out" class="form-control">
                    <br>
                    <input type="text" required=""name="employee" placeholder="Enter Your Name" class="form-control">
                    <br>
                    <p> Active</p>
                    <input type='checkbox' name='is_active' />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}